<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Builderz - Construction Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Construction Company Website Template" name="keywords">
    <meta content="Construction Company Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        input,
        textarea,
        select {
            margin: 8px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="index.html">
                                <h2>AlumniTracker</h2>
                                <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>College Hour</h3>
                                        <p>Mon - Fri, 8:00AM - 6:00PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Contact Us</h3>
                                        <p>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-send-mail"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Email Us</h3>
                                        <p>college@gmail.com</p>
                                        <p>admin@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <%-include('./alumniHomeHeader.ejs')%>
            <!-- Nav Bar End -->



        <!-- About Start -->
        <form action="/alumni/alumniJobPosting" method="post" class="form-group">
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="section-header text-center">
                        <h4>Alumni Add Job Posting <small>
                                <span style="color:red">
                                    <%=message%>
                                </span>
                            </small> </h4>

                    </div>
                    <div class="col-lg-6 col-md-6">
                            <input type="text" class="form-control" placeholder="Enter Post Name" name="post"
                                id="post" />

                            
                            <input type="text" placeholder="Enter Department" class="form-control" name="department" id="department" />

                            
                            <input type="number" class="form-control" name="vacancy" placeholder="Enter no. of Vacancy" id="vacancy" />


                            
                            <input type="number" class="form-control" name="salary" placeholder="Enter Salary" id="salary" />

                            <input type="text" placeholder="Enter Location" class="form-control" name="location" id="location" />

                            Select Bond
                            <select name="bond" id="bond" class="form-control">
                                <option value="">Select if Any</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>

                            Select Timings
                             <select name="timings" id="timings" class="form-control">
                            <option value=""> Timings</option>
                            <option value="8:00 AM TO 4:00 PM">8:00 AM TO 4:00 PM</option>
                            <option value="9:00 AM TO 6:00 PM">9:00 AM TO 6:00 PM</option>
                            <option value="10:00 AM TO 7:00 PM">10:00 AM TO 7:00 PM</option>
                            <option value="Flexible 9 Hours">Flexible 9 Hours</option>
                            <option value="Hours According to part time">Hours According to part Time</option>
                        </select>


                    </div>
                    <div class="col-lg-6 col-md-6 ">


                       

                        Apply From Date
                        <input type="date" name="applyDate" id="applyDate" class="form-control">

                        Apply Till Date
                        <input type="date" name="applyTillDate" id="applyTillDate" class="form-control">

                        Select Mode (Experience | Fresher etc.)
                        <select name="mode" id="mode" class="form-control">
                            <option value="">Select Mode</option>
                            <option value="Fresher">Fresher</option>
                            <option value="6+ Year">6+ Year</option>
                            <option value="1+ Year">1+ Year</option>
                            <option value="2+ Year">2+ Year</option>
                            <option value="3+ Year">3+ Year</option>
                            
                        </select>

                        Select Type
                        <select name="type" id="type" class="form-control" >
                            <option value="">Select Type</option>
                            <option value="Part Time">Part Time</option>
                            <option value="Full Time">Full Time</option>
                        </select>



                        <input class="btn btn-warning btn-block" type="submit" value="Add Job Posting" />

                        <input class="btn btn-danger btn-block" type="reset" value="Reset" />
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!-- About End -->



        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Office Contact</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                            <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope"></i>info@example.com</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Services Areas</h2>
                            <a href="">Building Construction</a>
                            <a href="">House Renovation</a>
                            <a href="">Architecture Design</a>
                            <a href="">Interior Design</a>
                            <a href="">Painting</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Pages</h2>
                            <a href="">About Us</a>
                            <a href="">Contact Us</a>
                            <a href="">Our Team</a>
                            <a href="">Projects</a>
                            <a href="">Testimonial</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare
                                velit non vulpu
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email here">
                                <button class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                    <a href="">Cookies</a>
                    <a href="">Help</a>
                    <a href="">FQAs</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>